[target.aarch64-unknown-linux-musl]
image = "ghcr.io/cross-rs/aarch64-unknown-linux-musl:main"

[target.aarch64-unknown-linux-musl.env]
passthrough = [
    "OPENSSL_STATIC=1",
    "OPENSSL_DIR=/usr",
]

[target.aarch64-unknown-linux-musl.x11]
feature-config = [
    "pkg-config",
]