[target.aarch64-unknown-linux-gnu]
image = "ghcr.io/cross-rs/aarch64-unknown-linux-gnu:main"

[target.aarch64-unknown-linux-gnu.env]
passthrough = [
    "OPENSSL_STATIC=1",
    "OPENSSL_DIR=/usr",
    "PKG_CONFIG_ALLOW_CROSS=1",
]

[target.aarch64-unknown-linux-gnu.x11]
feature-config = [
    "pkg-config",
]